[Unit]
Description=Vicarian HTTP Proxy Server
After=network-online.target
Wants=network-online.target systemd-networkd-wait-online.service

[Service]
Restart=on-abnormal

User=www-data
Group=www-data

EnvironmentFile=-/etc/vicarian/env
StateDirectory=vicarian
StateDirectoryMode=0750
ConfigurationDirectory=vicarian
ConfigurationDirectoryMode=0750

ExecStart=/opt/vicarian/bin/vicarian -v

; Use graceful shutdown with a reasonable timeout
KillMode=mixed
KillSignal=SIGINT
TimeoutStopSec=5s


PrivateTmp=true
PrivateDevices=true
ProtectHome=read-only
ProtectSystem=full

CapabilityBoundingSet=CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_BIND_SERVICE
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
