[Unit]
Description=Run Aptly update script

[Service]
Type=oneshot
WorkingDirectory=/var/lib/aptly/vicarian
User=aptly
ExecStartPre=git pull
ExecStart=/var/lib/aptly/.cargo/bin/nu scripts/pull-latest-debs.nu
